*.zip


# Data files

**/*.parquet

# Node
**/node_modules/

# Archives
**/*.zip
# Archives
*.zip


# Local secret/reference files
.env.local
**/.env.local
*stripe*.txt
*clerk*.txt
**/test-filer/stripe-test.txt
